* {
  padding: 0;
  margin: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: Montserrat;
}
button {
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}
h2 {
  font-weight: 300;
  font-family: Montserrat;
}

/* centrage de tout les elements */
header,
.section_heroe,
.centrale,
.decouverte,
.description,
.chiffres,
.line,
footer,
.gauche {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

header {
  height: 80px;
  margin-top: 50px;
  margin-bottom: 5%;
}

/* gestion  des tailles  d'images */

/* logo */
.logo {
  display: inline;
  width: 10%;
}
/* icones */
.tel {
  display: inline;
  width: 50%;
  margin: 0;
  margin-left: 10px;
}
.mail {
  display: inline;
  width: 50%;
}

.icones {
  width: 5%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
#triangle_vert {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 35px solid rgb(76, 245, 10);
  border-bottom: 20px solid transparent;
}

#triangle_jaune {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 20px solid transparent;
  border-bottom: 35px solid rgb(241, 245, 10);
  border-left: 20px solid transparent;
}

#triangle_orange {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 30px solid rgb(255, 115, 0);
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
}
.ens {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 80px;
}

.titre_vignette {
  display: flex;
  align-items: center;
}

/* ------------------------------- */

/* gestion des elements du menu */
.menu li {
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
}
/* ----------------------------------- */

/* gestion du menu */
.menu {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

/* ------------------------------------- */
/*  gestion des sections  */

span {
  color: rgb(182, 67, 0);
}
.section_heroe,
.centrale,
.description,
.chiffres,
.gauche {
  margin-top: 15%;
  justify-content: space-between;
}
/*section heroe*/

.partie_gauche button {
  margin-left: 550px;
}
/**/
.decouverte {
  margin-top: 10%;
}
.description,
.chiffres,
.line {
  margin-top: 5%;
}
.statistiques {
  text-align: center;
}
.gauche {
  width: 20%;
  margin-top: 5%;
}
#quatre {
  font-size: 5em;
  color: rgb(51, 236, 51);
  -webkit-text-stroke: 1px rgb(15, 15, 15);
  text-stroke: 4px rgb(16, 16, 17);
  text-shadow: 2px 2px 50px rgb(51, 236, 51), 9px 0 18px #ffd500,
    11px 10px 18px #79eb0f, 12px 12px 15px rgba(77, 66, 0, 0.5);
}
#un {
  font-size: 5em;
  color: rgb(233, 236, 9);
  -webkit-text-stroke: 1px rgb(15, 15, 15);
  text-stroke: 4px rgb(16, 16, 17);
  text-shadow: 20px 20px 550px rgb(233, 236, 9), 9px 0 18px #ffd500;
}

#cent {
  font-size: 5em;
  color: rgb(236, 92, 9);
  -webkit-text-stroke: 1px rgb(15, 15, 15);
  text-stroke: 4px rgb(16, 16, 17);
  text-shadow: 20px 200px 550px rgb(236, 119, 9), 19px 0 58px #ff6600,
    19px 0 58px #ff6600, 19px 0 58px #ff6600;
}

h1 {
  font-size: 3em;
}

.line {
  height: 1px;
  background: black;
}
#openBtn {
  display: none;
}

/*----------------------------------*/

.sidenav,
.close {
  display: none;
}

/* media queries */

@media screen and (max-width: 1080px) {
  .section_heroe,
  .centrale,
  .decouverte,
  .description,
  .chiffres,
  .line,
  footer,
  .gauche,
  .menu {
    display: block;
  }
  .icones {
    display: none;
  }

  .logo {
    position: absolute;
    width: 20%;
    left: 50px;
  }
  .partie_droite {
    display: none;
  }
  header {
    justify-content: right;
  }
  .logoBig {
    display: block;
    margin: 40px auto;
  }
  .vignette {
    margin-bottom: 25%;
  }
  .decouverte h1 {
    font-size: 2em;
  }
  .gauche {
    margin-left: 0 !important;
  }
  .partie_gauche button {
    margin-left: 165px;
    margin-top: 20px;
  }

  #openBtn {
    display: block;
    margin-right: 10%;
  }

  .menu {
    margin-left: 100%;
  }

  /* menu caché  */

  /* Sidenav menu */
  header {
    width: 100%;
  }
  .sidenav {
    display: block;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }

  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #111;
  }

  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* Active class */
  .sidenav.active {
    left: 0;
  }

  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    padding-right: 15%;
  }
  .burger-icon {
    margin-right: 0;
  }

  .logo {
    width: 20%;
  }
  .menu {
    display: none;
  }
}

/*-------------------------------------------------------*/
